ASPNetDemo/ASPNetDemo/Service References/RestServiceReference2/RestServiceImpl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestServiceImpl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62053/RestServiceImpl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62053/RestServiceImpl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62053/RestServiceImpl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestServiceImpl_getJSON_InputMessage">
    <wsdl:part name="parameters" element="tns:getJSON" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_getJSON_OutputMessage">
    <wsdl:part name="parameters" element="tns:getJSONResponse" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_getEmployeeByID_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeByID" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_getEmployeeByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmployeeByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_getAllEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllEmployee" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_getAllEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_updateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployee" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_updateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_InsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="IRestServiceImpl_InsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestServiceImpl">
    <wsdl:operation name="getJSON">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestServiceImpl/getJSON" message="tns:IRestServiceImpl_getJSON_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestServiceImpl/getJSONResponse" message="tns:IRestServiceImpl_getJSON_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmployeeByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestServiceImpl/getEmployeeByID" message="tns:IRestServiceImpl_getEmployeeByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestServiceImpl/getEmployeeByIDResponse" message="tns:IRestServiceImpl_getEmployeeByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestServiceImpl/getAllEmployee" message="tns:IRestServiceImpl_getAllEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestServiceImpl/getAllEmployeeResponse" message="tns:IRestServiceImpl_getAllEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestServiceImpl/updateEmployee" message="tns:IRestServiceImpl_updateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestServiceImpl/updateEmployeeResponse" message="tns:IRestServiceImpl_updateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestServiceImpl/InsertEmployee" message="tns:IRestServiceImpl_InsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestServiceImpl/InsertEmployeeResponse" message="tns:IRestServiceImpl_InsertEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="RestServiceImpl" />
</wsdl:definitions>